.phc-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid white;
  color: white;
  background-color: #7b2d26;
  text-transform: uppercase;
  font-weight: 200;
}

.loader-container {
  width: 100%;
  height: 60px;
  position: relative;
  display: grid;
  place-items: center;
}
.loader-container .loader-ring {
  position: absolute;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 5px solid #4a95ec;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loaderRotate 1.25s infinite linear;
}
.loader-container .loader-ring::before, .loader-container .loader-ring::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg) translateX(27.5px);
  width: 5px;
  height: 5px;
  background-color: #4a95ec;
}
.loader-container .loader-ring::after {
  transform: translate(-50%, -50%) rotateZ(-135deg) translateX(27.5px);
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.article-card {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article-card.large {
  max-width: none;
  font-size: 1.2em;
}
.article-card .background-image-container {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.article-card .background-image-container img {
  width: 100%;
  height: 100%;
  display: block;
}
.article-card .article-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-content: end;
  width: 100%;
  padding: 2rem;
  background: linear-gradient(transparent 50%, #000);
}
.article-card .article-card-content * {
  text-shadow: #000 0 0 8px;
}
.article-card .article-card-content p,
.article-card .article-card-content h1 {
  margin: 0;
}
.article-card .article-card-content p.right,
.article-card .article-card-content h1.right {
  margin-right: auto;
}
.article-card .article-card-content p.left,
.article-card .article-card-content h1.left {
  margin-left: auto;
}
.article-card .article-card-content h1 {
  grid-column: 1/3;
}

phc-article {
  width: 1000px;
  max-width: 90vw;
  margin: 2rem auto;
  display: grid;
}
phc-article .article-content {
  margin: 1rem;
}
phc-article .author-container {
  display: flex;
  margin: 0 2rem;
}
phc-article .author-container .author-content {
  flex: 1;
  padding: 0.5rem;
  padding-right: 2rem;
  border-right: 1px solid black;
}
phc-article .author-container .author-content .author-pfp {
  width: 100%;
  border-radius: 50%;
  outline: 4px solid #7b2d26;
  outline-offset: 2px;
}
phc-article .author-container .author-content .author-name {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
phc-article .author-container .author-bio {
  flex: 6;
  padding: 0.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
phc-article .author-container .author-bio p {
  margin: 0;
}
phc-article .author-container .author-bio .author-socials {
  display: flex;
  margin-top: auto;
  font-size: 1.5rem;
  gap: 0.5rem;
}
phc-article .author-container .author-bio .author-socials a {
  color: black;
}/*# sourceMappingURL=main.css.map */